*{
    margin: 0;
}

nav{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    padding: 70px;
    align-items: center;
    
}

ul{
    display: flex;
    list-style: none;
    gap: 6rem;
    align-items: center;
}

.logo{
    border: 1px solid green;
    flex-grow: 2;  
}

button{
    flex-grow: 3;
    color: white;
    background: blue;
    border-radius: 3px;
    height: 30px;
    width: 70px;
    
}